<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Grzegorz Koziczak">
    <title>virtual log</title>
</head>


<body>

<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">virtual log beta</h1>
</div>


<div align="center" class="col-lg-12">
    <h2>dodaj nowy wpis do dziennika</h2>

    <form th:action="@{/addEntry}" th:method="post" th:object="${entryDto}">
        <div class="form-group row">
            <input th:field="*{title}" placeholder="tytul wpisu">
            <p th:errors="*{title}">wrong</p>
            <input th:field="*{entry_text}" placeholder="tresc wpisu">
            <p th:errors="*{entry_text}">wrong</p>
            <input th:type="submit" th:value="'dodaj nowy wpis'" class="btn btn-primary btn-user btn-block">
        </div>
    </form>
</div>


<div class="text-center">

    <h2>twoje wpisy</h2>

    <div th:each="entry : ${entries}">
        <h3 th:text="${entry.title}"></h3>
        <h4 th:text="${entry.dateOfEntry}"></h4>
        <p th:text="${entry.entry_text}"></p>

    </div>

</div>


</body>

</html>

